{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class = "col-lg-8" id = "map-canvas">
      <h1>map</h1>
    </div>
    <div class = "col-lg-4 clearfix" id = "side">

      <div class="row">
        <div class="col-lg-12 pull-right">
          <h3>Trips List</h3>
          <hr>
          <ul class="list-unstyled">
            <li>
              Hotels
              <br>
              <select>
                {% for hotel in all_hotels %}
                  <option value="{{hotel.name}}">{{ hotel.name }}</option>
                {% endfor %}
              </select>
            </li>
            <li>
              Restaurants
              <br>
              <select>
                {% for restaurant in all_restaurants %}
                  <option value="{{restaurant.name}}">{{ restaurant.name }}</option>
                {% endfor %}
              </select>
            </li>
            <li>
              Activities
              <br>
              <select>
                {% for activity in all_activities %}
                  <option value="{{activity.name}}">{{ activity.name }}</option>
                {% endfor %}
              </select>
            </li>
          </ul>
        </div>

        <div class="col-lg-12">
          <h3>Day 2</h3>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>
            <button type="button" class="btn btn-default">3</button>
             <button type="button" class="btn btn-default">+</button>
            </div>
          <ul class = "list-unstyled">
          <li> My Hotel </li>
          <li> My Restaurants </li>
          <li> My Activities </li>
          </ul>
</div>

        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}