<!DOCTYPE html>
<head>
    <title>TripPlanner</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/stylesheets/style.css" rel="stylesheet">

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
 		<div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   			<div class="navbar-header">
     			<a class="navbar-brand" href="#">Trip Planner</a>
   			</div>
 		</div><!-- /.container-fluid -->
	</nav>

<!-- Bootstrap navbar -->
	{% block content %}{% endblock %}
	<hr/>
   	<div id="footer" class="container text-muted">
    	TripPlanner by Fullstack Academy
   	</div>
   	<script src="/jquery/jquery.min.js"></script>
   	<script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/index.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXUMpO8gEW-a2EVUqoilxH9ASQFD6q2yU&sensor=true"></script>
</body>
</html>