* {
	box-sizing: border-box;
}

.clearfix {
  &:after {
  	content: "";
  	display: block;
  	clear:both;
  }
}
#map {
	background-color: gray;
	min-height: 100%;
	display: inline-block;
}

#side {
	background-color: light-blue;
	min-height: 100%;
	display: inline-block;
}

body { 
	padding-top: 50px; 
}